body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 234, 190, 0.315);
}

.container{
  width:60%;
}

#video-call-container{
  display: none;
}

#video-call-elements{
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

#local-video{
  width: 50%;
  background-color: rgb(36, 36, 36);
}

#remote-video{
  width: 50%;
  background-color: rgb(51, 50, 50);
}

button{
  cursor: pointer;
}